---
layout: landing
title: 30 Days, 30 Stories
timeline: false
---
<section class="teasers">
    {% for post in site.posts reversed %}
        <article class="teaser">
            <a href="/{% if post.altUrl %}{{ post.altUrl }}{% else %}{{ post.title }}{% endif %}" class="teaser-img" style="background-image: url(/img/{{ post.teaserImg }});">
                <div class="calendar-title"></div>
            </a>
            <a href="/{% if post.altUrl %}{{ post.altUrl }}{% else %}{{ post.title }}{% endif %}">
                <div class="teaser-txt">
                    <h2 class="teaser-title">{{ post.title }}</h2>
                    <small>{{ post.teaserText }}</small><br><br>
                    <img src="/img/small-arrow.png">
                </div>
            </a>
            <h4 class="timeline-title">{{ post.title }}</h4>
        </article>
    {% endfor %}
</section>