<ul>
    <a class="timeline-prev" href="#"><</a>
    <ul>
        <li class="timeline-item 1983"><div class="timeline-img"><img src="/3030-prototype/img/one.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1984"><div class="timeline-img"><img src="/3030-prototype/img/two.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1985"><div class="timeline-img"><img src="/3030-prototype/img/one.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1986"><div class="timeline-img"><img src="/3030-prototype/img/three.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1987"><div class="timeline-img"><img src="/3030-prototype/img/four.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1988"><div class="timeline-img"><img src="/3030-prototype/img/five.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1989"><div class="timeline-img"><img src="/3030-prototype/img/six.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1990"><div class="timeline-img"><img src="/3030-prototype/img/seven.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1991"><div class="timeline-img"><img src="/3030-prototype/img/one.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1992"><div class="timeline-img"><img src="/3030-prototype/img/two.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1993"><div class="timeline-img"><img src="/3030-prototype/img/three.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1994"><div class="timeline-img"><img src="/3030-prototype/img/four.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1995"><div class="timeline-img"><img src="/3030-prototype/img/five.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1996"><div class="timeline-img"><img src="/3030-prototype/img/six.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1997"><div class="timeline-img"><img src="/3030-prototype/img/seven.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1998"><div class="timeline-img"><img src="/3030-prototype/img/two.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 1999"><div class="timeline-img"><img src="/3030-prototype/img/one.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2000"><div class="timeline-img"><img src="/3030-prototype/img/three.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2001"><div class="timeline-img"><img src="/3030-prototype/img/four.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2002"><div class="timeline-img"><img src="/3030-prototype/img/five.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2003"><div class="timeline-img"><img src="/3030-prototype/img/six.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2004"><div class="timeline-img"><img src="/3030-prototype/img/seven.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2005"><div class="timeline-img"><img src="/3030-prototype/img/one.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2006"><div class="timeline-img"><img src="/3030-prototype/img/two.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2007"><div class="timeline-img"><img src="/3030-prototype/img/three.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2008"><div class="timeline-img"><img src="/3030-prototype/img/four.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2009"><div class="timeline-img"><img src="/3030-prototype/img/five.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2010"><div class="timeline-img"><img src="/3030-prototype/img/six.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2011"><div class="timeline-img"><img src="/3030-prototype/img/seven.jpg"></div><div class="timeline-title">Interview Title</div>
        </li><li class="timeline-item 2012"><div class="timeline-img"><img src="/3030-prototype/img/two.jpg"></div><div class="timeline-title">Interview Title</div>
        </li>
    </ul>
    <a class="timeline-next" href="#">></a>
</ul>
