/* Screen Sizes */

$min480: new-breakpoint(min-width 480px);
$max480: new-breakpoint(max-width 480px);
$min720: new-breakpoint(min-width 720px);
$max720: new-breakpoint(max-width 720px);
$min1020: new-breakpoint(min-width 1020px);
$max1020: new-breakpoint(max-width 1020px);
$min1440: new-breakpoint(min-width 1440px);

/* Colours */

$primary: #09835f;
$secondary: #21b684;
$darkGrey: #333;
$midGrey: #777;
$lightGrey: #eee;

/* Mixins */

@mixin placeholder($height) {
    border: thin dotted $midGrey;
    width: 100%;
    height: $height;
    background-color: $lightGrey;
}

@mixin divider {
    border-bottom: thin solid $lightGrey;
}


/**** ****/

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Typography */

@include font-face(Melbourne, '/fonts/melbourne/Melbourne_reg');
@include font-face(Melbourne, '/fonts/melbourne/Melbourne_bold', bold);
$sansSerif: verdana, sans-serif;
$serif: serif;
$rounded: 'Melbourne', sans-serif;

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: $sansSerif;
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $rounded;
    color: $primary;
    margin-top: 0;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

h1.page-title {
    margin-top: 20px;
    text-align: center;
}

h2.page-subtitle, h2.page-heading {
    background-color: #333;
    color: $lightGrey;
    margin: 0 0 10px 0;
    padding: 20px 150px;
    text-align: center;
}

h2.page-heading {
    border-top: 10px solid #ddd;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
}

h4 {
    color: #333;
    font-weight: normal;
    margin-bottom: 5px;
}

blockquote {
    font-family: $rounded;
    font-size: 1.5em;
    margin: 0 1.5em 0 2em;
    position: relative;
    p {
        color: $primary;        
        line-height: 1.25em;
        margin: 2em 0px;
        padding-left: 40px;
    }
    p:before {
        color: $lightGrey;
        content: '\201C';
        font-size: 5.25em;
        line-height: 20px;
        margin-left: -55px;
        position: relative;
        top: 25px;
        vertical-align: bottom;
    }
    p:after {

    }
    small {
        font-size: 1em;
    }
}

blockquote.pull-right {
    @include span-columns(4);
    float: right;
    p {
        margin: 0;
    }
}

small {}

abbr {}

address {}

cite {}

dl {}

dt {}

dd {}

code {}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* General Layout */

$thinBorder: thin solid #ddd;

.container {
    @include outer-container;
    border-left: thin solid #ddd;
    border-right: thin solid #ddd;
    padding: 0px;
    padding: 0px;
    padding: 0px;
    @include media($min720) {
        width: 720px;
        max-width: 720px;
    }
    @include media($min1020) {
        width: 1020px;
        max-width: 1020px;
    }    
}

.info-box {
    padding: 10px 30px 10px 30px;
    border-bottom: $thinBorder;
    h2 {
        margin: 12px 0 10px 0;
    }
    ul {
        font-size: 1.2em;
        font-family: $rounded;
        list-style: none;
        margin-top: 0;
        padding: 0;
        @include media($min720) {
            font-size: 1.5em;
        }
    }
    li {
        line-height: 1.2em;
        margin-bottom: 15px;
    }
}

.placeholder {
    @include placeholder(400px);
}

/* Links */

a {
    text-decoration: none;
    color: $primary;
}

a:hover {
    color: $darkGrey;
}

a:visited {
    color: $primary;
}

.ext-webpage, .ext-pdf, .ext-image, .ext-video {
    @include hide-text;
    @include inline-block;
    background: url(../img/ext-icons.png) no-repeat transparent;
    margin-top: -4px;
    opacity: .75;
    width: 32px;
    height: 25px;
    vertical-align: middle;
}

.ext-image {
    margin-top: 0;
}

.ext-pdf {
    background-position: 0 -25px;
}

.ext-video {
    background-position: 0 -50px;
}

.ext-webpage {
    background-position: 0 -75px;
}

footer {
    a {
        text-decoration: none;
        color: white;
        text-decoration: underline;
    }

    a:hover {
        color: $lightGrey;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }
}

/* BUTTONS, FORMS, TABLES, ETC **/

table {
    width: 100%;
    tr {
        border-bottom: $thinBorder;
    }
    td, th {
        padding: 10px 0 10px 10px;
    }
    tr:nth-child(even) {
        background-color: #EFEFEF;
    }
}

ul.tabs {
    padding: 0;
    li {
        @include inline-block;
    }
    li a {
        @include button(pill, #fff);
    }
    li.active a {
        @include button(pill, #666);
        border-bottom: 0;
    }
    li a:hover {
        border-color: #777777;
    }
}

form {}

fieldset {
    border-left: 5px solid #ddd;
    padding: 10px;
}

legend {}

label {
  clear: left;
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
}

#{$all-text-inputs}, textarea {
  border: 1px solid green;
  float: left;
}

#{$all-text-inputs-hover}, textarea:hover {
  background: yellow;
}

#{$all-text-inputs-focus}, textarea:focus {
  background: white;
}


/* Header */

.site-header {
    .container {
        border: 0;
    }
    background: url('../img/site-header-bg.jpg') #ddd;
    border-top: 10px solid $primary;
    padding: 30px 0;
}

.site-name-slogan {
    @include span-columns(12 of 12);
    @include omega();
    @include hide-text;    
    h1 {
        margin: 0 auto;
    }
    @include media($min1020) {
        @include span-columns(5 of 12);
        h1 {
            margin-left: 40px;
        }
    }
    h1 {
        background: url('../img/30-30-logo.png') no-repeat;
        height: 138px;
        width: 300px;
    }
}

.av-logo {
    @include span-columns(1 of 12);
    @include omega(); 
    background: url('../img/av-logo.png') no-repeat;
    height: 80px;
    width: 112px;
    margin-top: 30px;
}

.site-desc {
    @include span-columns(12 of 12);
    font-size: 1em;
    padding: 20px 40px 0 40px;
    text-align: center;
    @include media($min720) {
        text-align: left;
    }
    @include media($min1020) {
        @include span-columns(7 of 12);
        @include omega(); 
        padding: 10px 0 0 0px;
        font-size: 21px;
        text-align: justify;
    }    
    color: $primary;
    font-family: $rounded;
    margin: 0;
}

/* Navigation */

.site-navigation {
    @include span-columns(4 of 12);
    margin-top: 60px;
}

/* Timeline */

.timeline {
    background-color: #222;
    border-bottom: 3px solid #000;
    border-top: 1px solid #bbb;
    width: 100%;
    height: 135px;
    overflow: hidden;
    position: relative;
    padding-left: 50px;
    ul {
        margin: 0px;
        padding: 0px;
    }
    li {
        background-color: #ddd;
        border-right: thin solid #bbb;
        display: inline-block;
        width: 185px;
        height: 135px;
        padding: 10px 0 0 7px;
        position: relative;
        z-index: 2;
    }
    img {
        width: 170px;
        height: 95px;
    }
    .active {
        background-color: #333;
        .timeline-title {
            color: #ddd;
        }
    }
    a, a:visited {
        color: $darkGrey;
    }
    a:hover {
        color: $primary;
    }
}

.timeline-item {
    cursor: pointer;
}

.timeline-img {
    background: url(../img/play-hover.png) no-repeat #666;
    width: 170px;
}

.timeline-title {
    font-family: $rounded;
    padding-top: 4px;
}

.timeline-prev, .timeline-next {
    width: 50px;
    height: 135px;
    background-color: black;
    font-family: $rounded;
    color: white;
    opacity: .85;
    position: absolute;
    top: 0;
    font-size: 5em;
    text-decoration: none;
    z-index: 999;
}

.timeline-prev:hover, .timeline-next:hover {
    color: $primary;
}

.timeline-prev {
    left: 0;
    padding: 8px 0 0 12px;
}

.timeline-next {
    right: 0;
    padding: 8px 0 0 10px;
}

.timeline-msg {
    color: #999;
    font-family: $rounded;
    font-size: 2em;
    position: absolute;
    right: 150px;
    top: 75px;
    z-index: 1;
}

.play-hover {
    position: absolute;
    top: 0;
    left: 0;
}

.sticky {
    position: fixed;
    top: 0;
    border-top: 0;
    border-bottom: 3px solid #333;
}


/* FRONT PAGE / LANDING */

.landing-template .container {
    border: 0;
}

.latest {
    @include span-columns(12);
    @include omega();
    font-family: $rounded;
    font-size: 1.2em;
    @include media($max480) {

    }
    @include media($min1020) {
        @include span-columns(6 of 12);
        @include omega();
        border-right: 2px solid #333;
        font-size: 1.5em;
        width: 62%;
    }    
    height: 380px;
    p {
        margin: 0 300px 0 30px;
    }
    .link {
        color: $darkGrey;
        margin-top: 10px;
    }
}

.section-label {
    font-family: $rounded;
    background-color: $primary;
    color: #eee;
    margin-left: 0px;
    margin-top: 30px;
    padding-left: 34px;
    width: 200px;    
}

.landing-template .section-label {
    font-size: 1.5em;
}

.latest-year {
    color: $darkGrey;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 50px;
    margin: 30px 0 0 30px;
    @include media($min720) {
        font-weight: normal;
        font-size: 3em;
    }
}

.latest-title {
    color: $primary;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0px 0 0 30px;  
}

.latest-icon {
    @include hide-text;
    background: url(../img/latest-play.png) no-repeat transparent;
    width: 110px;
    height: 110px;
    margin: 10px 0 0 25px;
    opacity: .25;
}

.actions {
    border-bottom: 5px solid $darkGrey;
    padding-bottom: 5px;
    font-family: $rounded;    
    @include media($max720) {
        display: none;
    }
    @include media($min1020) {
        @include span-columns(6 of 12);
        @include omega();
        border: none;
        padding: 0;
        width: 38%;
        background-color: #eee;
        border-right: 2px solid #000;
        min-height: 380px;
    }
    h4 {
        text-transform: uppercase;
    }
}

.signup:hover, .donate:hover, .acknowledgements:hover {
    opacity: .9;
}

.signup {
    @include media($max720) {
        border-top: thin solid $darkGrey;
    }
    background: url(../img/action-signup.jpg) no-repeat;
}

.donate {
    background: url(../img/action-donate.jpg) no-repeat;
    h4 {
        color: $lightGrey;
    }
}

.acknowledgements {
    background: url(../img/action-acknowledge.jpg) no-repeat;
}

.signup, .donate, .acknowledgements {
    @include span-columns(12);
    padding: 20px 30px;
    display: block;
    font-size: 1.1em;
    text-align: left;
    @include media($min720) {
        @include span-columns(4);
        margin-top: 10px;
        min-height: 150px;
        background-position: -180px 18px;
        border-radius: 10px;
    }
    @include media($min1020) {
        @include span-columns(12);
        background-position: -50px center;
        border-radius: 0;
        font-size: 1.25em;
        margin: 0;
        min-height: 110px;
        text-align: left;
    }
}

a.signup {
    background-color: $primary;
    color: white;
}

a.donate {
    background-color: $darkGrey;
    color: white;
}

a.acknowledgements {
    background-color: $lightGrey;
    color: $darkGrey;
}

.teasers {
    @include clearfix;
    margin: 20px 0;
}

.teaser {
    @include span-columns(12);
    @include media($min720) {
        @include span-columns(4);
        margin-bottom: 20px;
    }    
    @include media($min1020) {
        @include span-columns(3);
    }
    min-height: 131px;
    position: relative;
}

.teaser-title {
    margin-bottom: 10px;
    font-weight: normal;
}

.teaser-img {
    @include media($max720) {
        display: none;
    }    
    background-repeat: no-repeat;    
    display: block;
    height: 131px;
    position: relative;
    z-index: 2;
    @include media($max720) {
        border-top: thin solid #ddd;
    }
    @include media($min720) {
        border: 1px solid #ddd;
    }
}

.teaser-img:hover {
    background-position: 0 -131px;
}

.teaser-txt {
    @include media($max720) {
        @include span-columns(12);
        padding: 12px;
        border-top: thin solid $secondary;
        border-bottom: thin solid #666;
    }
    @include media($min720) {
        background-color: white;
        position: absolute;
        top: 0;
        left: 240px;
        padding: 10px 10px 30px 20px;
        width: 265px;
        z-index: 999;
        p {
            margin: 0;
        }
        -webkit-box-shadow: 2px 2px 2px 0px #AAAAAA; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
                box-shadow: 2px 2px 2px 0px #AAAAAA;
    }
}

.teaser:nth-child(2n) {
    .teaser-title {
        color: white;
    }
    .teaser-txt{
        background-color: $primary;
        color: white;
    }
}

.teasers {
    @include media($max1020) {
        .teaser:nth-child(3n) {
            @include omega();
            .teaser-txt {
                left: -265px;
            }
        }
    }
    @include media($min1020) {
        .teaser:nth-child(4n) {
            @include omega();
            .teaser-txt {
                left: -265px;
            }
        }
    }
}

.calendar-title {
    font-family: $rounded;
    font-size: 4.5em;
    font-weight: bold;
    padding-left: 20px;
}

a .calendar-title, a .calendar-title:link, a .calendar-title:visited {
    color: #bbb;
}

a .calendar-title:hover {
    color: #333;
}

.post-teaser {
    @include span-columns (6);
    @include omega();
    background-color: $primary;
    color: #eee;
    font-family: $rounded;
    font-size: 1.75em;
    height: 131px;
    padding: 0px 30px;
}

/* PAGINATION */

a.previous, a.previous:link, a.previous:visited,
a.next, a.next:link, a.next:visited {
    color: #888;
}

a.previous:hover,
a.next:hover {
    color: #bbb;
}

.previous, .next {
    display: none;
    @include media($min1020) {
        display: block;
        font-family: $rounded;
        font-size: 3em;
        position: fixed;
        width: 169px;
        height: 339px;
        top: 320px;
        .pager-txt {
            margin-top: 135px;
        }
    }
}

.previous {
    .pager-bg {
        background: url('../img/arrows.png') no-repeat transparent;
        width: 169px;
        height: 339px;
        position: absolute;
        left: 0;
    }
    .pager-txt {
        margin-left: 60px;
    }
}

.pager-txt {
    position: absolute;
    top: 0;
}

.next {
    .pager-bg {
        background: url('../img/arrows.png') no-repeat transparent;
        background-position: -169px 0;
        right: 0px;
        width: 169px;
        height: 339px;
        position: absolute;
    }    
    .pager-txt {
        margin-left: 20px;
    }
}


/* CONTENT PREFACE */

.page-preface {
    background: url('../img/preface-video-bg.jpg') #333;
    .container {
        border-color: #222;
    }
}

.intro {
    font-family: $rounded;
    font-size: 2em;
    color: $lightGrey;
    padding: 0 20px;
}

.landing-preface {
    height: 380px;
    .container {
        border: none;
    }
}

.video-box {
    height: 330px;
    @include span-columns(12);
    background-color: $primary;
    @include media($min720) {
        width: 720px;
        height: 405px;
    }
    @include media($min1020) {
        border-left: 30px solid $primary;
        border-right: 30px solid $primary;
        height: 540px;
        width: 1020px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}

.video-player {
    border-right: 2px solid #333;
    border-left: 2px solid #333;
}

/* CONTENT */

.page-title {
    @include hide-text;
    margin: 10px auto 20px auto;
    width: 167px;
    height: 72px;
}

.page-content {
    padding: 0;
}

.article-body {
    border-top: $thinBorder;
}

.landing-template .article-body {
    border: 0;
    margin-top: 10px;
}

.rightColumn {
    @include media($min720) {
        @include span-columns(12);
        @include omega();
    }
    @include media($min1020) {   
        @include span-columns(5);
        border-left: thin solid #ddd;
        width: 42.5%;
    }
}

.leftColumn {
    @include media($min720) {
        @include span-columns(12);
        @include omega();
    }
    @include media($min1020) {
        @include span-columns(7);
        margin-right: 0;
    }
}

.fullColumn {
    @include span-columns(12);
    .info-box {
        padding: 20px 30px;
        @include media($min1020) {
            padding: 50px 150px;
       } 
    }
}

.localInfo, .nationalInfo {
    border-bottom: 0;
}

.localInfo {
    background: url(../img/local-bg.png) no-repeat bottom center;
    min-height: 576px;
}

.statInfo {
    @include clearfix;
    background: url(../img/stats-bg.png) no-repeat top right;
    color: #eee;
    h2 {
        color: #eee;
        margin-bottom: 20px;
    }
    li {
        @include clearfix;
        margin-bottom: 20px;
    }
    a { 
        color: white 
    }
}

.nationalInfo {
    background: url(../img/national-bg.png) no-repeat bottom center;
}

.globalInfo {
    background: url(../img/global-bg.png) no-repeat bottom right;
}

.statistic {
    font-size: 2.25em;
    font-weight: bold;
}

.statistic-desc {

}

/* Page Template CONTENT */

.thanks-list {
    @include span-columns(12);
    @include omega();
    ul {
        padding: 0
    }
    li {
        list-style: none;
        margin-bottom: 10px;
    }
    .inner {
        padding: 20px 20px 20px 50px;
    }
    h3 {
        color: $primary;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.75em;
        margin-top: 30px;
    }
}

.thanks-left {
    @include span-columns(4);
}

.thanks-right {
    @include span-columns(8);
    @include omega();
    .inner {
        padding-left: 0;
    }
}

.thanks-logo {
    @include inline-block();
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Content Sidebar */

.secondary-column {
    @include span-columns(4);
    @include omega;
}

/* CONTENT POSTSCRIPT */

.page-postscript {
    @include clearfix;

}

/* Sponsors */

.sponsors {
    background-color: white;
    padding-bottom: 0;
    .container {
        border: 0;
    }
    table {
        border: none;
        th {
            padding: 0;
        }
    }
    tr {
        border: none;
    }
    tr:nth-child(even) {
        background-color: white;
    }
    td {
        background-color: transparent;
        text-align: center;
    }
}

.sponsor {
    @include span-columns(4);
    @include media($min720) {
        @include span-columns(3);
    }
    min-height: 160px;
    text-align: center;
}

.television {
    @include media($max720) {
        @include omega();
    }
}

.silver, .print {
    @include media($min720) {   
        @include omega();
    }
}

.media, .print, .bronze {
    @include media($min720) {
        @include span-columns(3);
        min-height: 100px;
    }
}

.bronze {
    @include media($min720) {
        @include shift(2);
    }
}

.media {
    @include media($min720) {      
    }
}

/* POSTSCRIPT */

.share-links {
    .container { 
        border-top: thin solid #ddd;
        padding: 20px 20px 20px 30px;
    }
}

.facebook, .twitter, .google {
    @include inline-block();
}

/* FOOTER */

.site-footer {
    font-size: .75em;
    background: $primary;
    color: white;
    margin-top: 20px;
    .container {
        border-color: transparent;
    }
    .section-label {
        background-color: #333333;
        font-size: 1.5em;
        min-width: 390px;
        margin-left: 0px;
        padding-left: 15px;
        margin-top: 10px;
        padding: 5px 0 5px 15px;
        font-size: 2em;
    }
}

.footer-menu {
    font-family: $rounded;
    margin: 8px 0 0 0;
    padding: 0;
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: #333;
    }

    li {
        display: inline;
        border-right: thin solid $secondary;
        padding-right: 15px;
        margin-right: 15px;
        font-size: 1.75em;
    }
    li:last-child {
        border: none;
    }
}

.av-logo {
    @include span-columns(2);
    @include hide-text;
    background: url(../img/av-logo.png) no-repeat transparent;
    height: 116px;
}

.footer-msg {
    @include span-columns(10);
    @include omega();
    margin-top: 20px;
}

.copyright {
    @include span-columns(10);
    @include shift(2);
    @include omega();
    margin-bottom: 20px;
}