---
layout: wrapper
---
<section class="page-preface landing-preface">
	<div class="container">
	    {% for post in site.posts limit: 1 %}
		<a href="#">
		<article class="latest" style="background: url(/img/{{ post.featureImg }}) no-repeat center right">
	        <div class="latest-title">{{ post.title }}</div>
	        <p>{{ post.subtitle }}</p>
	        <p class="link">Watch the latest video.</p>
		</article>
		</a>
		{% endfor %}

		<section class="actions">
	        <a href="/signup/" class="signup">
			    <article>
			    	<h4>Celebrate</h4>
		            RSVP for our 30th Anniversary Celebration on July 30th.
			    </article>
		    </a>
		    <a href="http://aidsva.convio.net/donate" class="donate">
			    <article>
			    	<h4>Donate</h4>
		            Our work depends on your continued support! Please donate today!
		   		</article>
		   	</a>
	        <a href="/acknowledgements/" class="acknowledgements">
			    <article>
			    	<h4>Acknowledge</h4>
		            
			    </article>    
	        </a>
		</section>		
    </div>
</section>

<article class="landing-template">
	<div class="container">
		<header>

		</header>
		
		<section class="article-body">
			{{ content }}
		</section>

		<footer>

		</footer>
	</div>
</section>

<section class="page-postscript">
	<div class="container">

	</div>
</section>