---
layout: wrapper
---
<section class="page-preface landing-preface">
	<div class="container">
	    {% for post in site.posts limit: 1 %}
		<a href="/{{ post.title }}">
		<article class="latest" style="background: url(/img/{{ post.featureImg }}) no-repeat center right;">
			<div class="section-label">Latest Video</div>
	        <div class="latest-year">{{ post.title }}</div>
	        <div class="latest-title">{{ post.subtitle }}</div>
	        <div class="latest-icon">Watch the latest video.</div>
		</article>
		</a>
		{% endfor %}

		<section class="actions">
	        <a href="http://aidsva.convio.net/site/Calendar/1678935663?view=Detail&id=100121" class="signup">
			    <article>
			    	<h4>Celebrate</h4>
		            RSVP for our 30th Anniversary Celebration on July 30th.
			    </article>
		    </a>
		    <a href="http://aidsva.convio.net/3030-donate" class="donate">
			    <article>
			    	<h4>Donate</h4>
		            Our work depends on your continued support! Please donate today!
		   		</article>
		   	</a>
	        <a href="/acknowledgements/" class="acknowledgements">
			    <article>
			    	<h4>Acknowledgements</h4>
			    	The people behind 30 30.
		            
			    </article>    
	        </a>
		</section>		
    </div>
</section>

<article class="landing-template">
	<div class="container">
		<header>
	        <div class="section-label">The Timeline</div>
		</header>
		
		<section class="article-body">
			{{ content }}
		</section>

		<footer>

		</footer>
	</div>
</section>

<section class="page-postscript">
	<div class="container">

	</div>
</section>