---
layout: wrapper
---
<section class="page-preface landing-preface">
	<div class="container">
		<article class="latest">
		    <a href="#">
		        <!-- Show only the most recently published -->
		        <!-- Build a slider for showcasing certain years once all videos have been published -->
		        <img src="/3030-prototype/img/latest-1.jpg">
		        <img src="/3030-prototype/img/latest-btn.jpg">
		    </a>
		</article>

		<section class="actions">
	        <a href="" class="signup">
			    <article>
		            Join us July 30th for our <br>30th Anniversary Celebration. <br>Click here for free registration.
			    </article>
		    </a>
		    <a href="" class="donate">
			    <article>
		            Our work depends on your continued <br>support! Please donate today!
		   		</article>
		   	</a>
	        <a href="" class="acknowledgements">
			    <article>
		            Acknowledgements
			    </article>    
	        </a>
		</section>		
    </div>
</section>

<article class="landing-template">
	<div class="container">
		<header>

		</header>
		
		<section class="article-body">
			{{ content }}
		</section>

		<footer>

		</footer>
	</div>
</section>

<section class="page-postscript">
	<div class="container">

	</div>
</section>