---
layout: wrapper
---
<section class="page-preface">
	<div class="container">

	</div>
</section>

<article class="page-template">
	<div class="container">
		<header>
	        {% if page.subtitle %}<hgroup>{% endif %}
	            {% if page.title %}<h1 class="page-title">{{ page.title }}</h1>{% endif %}
	            {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
	        {% if page.subtitle %}</hgroup>{% endif %}
		<header>

		{% if page.sidebar %}
		<section class="article-body">
			<div class="primary-column">
				{{ content }}
			</div>

			{% include sidebar.html %}
		</section>
		{% else %}
		<section class="article-body">
			{{ content }}
		</section>
		{% endif %}

		<footer>

		</footer>
	</div>
</section>